@import '../../scss/colors';

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &__btn {
    height: 89.4%;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    font-family: 'SF-Pro', Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: -0.154;
    line-height: 20px;
    align-self: baseline;
    width: 100%;
    text-align: center;
    color: $color-primary-darkest;
  }
}
