.artboard {
  &__container {
    height: calc(100% - 64px);
  }

  &__img-container {
    height: 100%;
    padding: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-height: 100%;
  }
}
