@import '../../scss/colors';
@import '../../scss/base';

.nav {
  background-color: $color-lightest;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  color: $color-primary-darker;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 16px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;

  &__group {
    display: flex;
    align-items: center;
    height: 100%;

    &-artboard {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      width: 100%;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    height: 100%;

    &:nth-child(2) {
      max-width: 409px;
      justify-content: center;
    }
  }

  &__logo {
    align-items: center;
  }

  &__img {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &__separator {
    margin: 0 16px;
    height: 100%;
  }

  &__artboard-title {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 16px;
    font-weight: 600;
    color: $color-darkest;
  }

  &__close {
    width: 17px;
    margin-right: 2px;

    &-icon {
      width: 100%;
    }
  }
}
