$color-primary: #f7f7f7;
$color-neutral: #f9f9f9;
$color-primary-darker: rgba(0, 0, 0, 0.4);
$color-primary-darkest: rgba(0, 0, 0, 0.65);

$color-lightest: #fff;
$color-darkest: #000;

$color-border: rgba(0, 0, 0, 0.08);
