@import '../../scss/colors';

.container {
  width: 96%;
  margin: 0 auto;
}

.documents {
  padding: 24px 0;
  display: grid;
  grid-template-columns: repeat(5, 17.3%);
  grid-template-rows: repeat(4, 340px);
  column-gap: 3.33%;
  row-gap: 24px;

  &__thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-img {
      max-width: 100%;
      max-height: 92%;
      margin: auto;
    }

    &-title {
      align-self: baseline;
      width: 100%;
      text-align: center;
      margin-top: 16px;
      color: $color-primary-darkest;
    }
  }
}
